/**
 * Navegacao
 */

nav li a {
	display: block;
	padding: 12px 20px;
	color: #869fb1;
	transition: background-color ease-in-out 0.25s;
}

nav li a:hover,
nav > ul > li > a.active {
	background: #16232d;
}

nav > ul > li > a {
	font-weight: 700;
	/* transition: background-color ease-in-out .15s, color ease-in-out .15s; */
}

/* nav li i {
	margin-right: 5px;
} */

nav li b {
	float: right;
	padding: 0px 5px;
	margin-top: 2px;
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;
	font-weight: normal;
	color: #f4f3f9;
	background-color: #7266ba;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

nav li.sub > a {
	position: relative;
}

nav li.sub > a:before {
	font-family: 'Material Design Icons';
	content: '\F0142';
	/* content:"\F0140"; */
	float: right;
	margin-left: 5px;
	transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

nav li.sub a + ul {
	height: 0;
	overflow: hidden;
	position: relative;
	left: -20px;
	opacity: 0;
	background-color: #131e26;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

nav li.sub a.active + ul {
	height: auto !important;
	left: 0;
	overflow: auto;
	opacity: 1;
	background-color: #131e26;
}

nav li.sub > a.active:before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

nav li.sub li > a.active {
	color: #fff;
}

nav li > span {
	padding: 12px 20px;
	display: block;
	color: #8b8e99;
	font-size: 12px;
}

nav li.line {
	width: 100%;
	height: 2px;
	margin: 10px 0px;
	overflow: hidden;
	font-size: 0;
	background-color: #131e26;
}
